In [1]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv('restaurant.csv', index_col=0)
df

     Alt  Bar  Fri  Hun   Pat Price Rain  Res     Type    Est Class
ID
X1   Yes   No   No  Yes  Some   $$$   No  Yes   French   0-10   Yes
X2   Yes   No   No  Yes  Full     $   No   No     Thai  30-60    No
X3    No  Yes   No   No  Some     $   No   No   Burger   0-10   Yes
X4   Yes   No  Yes  Yes  Full     $   No   No     Thai  10-30   Yes
X5   Yes   No  Yes   No  Full   $$$   No  Yes   French    >60    No
X6    No  Yes   No  Yes  Some    $$  Yes  Yes  Italian   0-10   Yes
X7    No  Yes   No   No  None     $  Yes   No   Burger   0-10    No
X8    No   No   No  Yes  Some    $$  Yes  Yes     Thai   0-10   Yes
X9    No  Yes  Yes   No  Full     $  Yes   No   Burger    >60    No
X10  Yes  Yes  Yes  Yes  Full   $$$   No  Yes  Italian  10-30    No
X11   No   No   No   No  None     $   No   No     Thai   0-10    No
X12  Yes  Yes  Yes  Yes  Full     $   No   No   Burger  30-60   Yes

In [12]:
df.drop('X1')

     Alt  Bar  Fri  Hun   Pat Price Rain  Res     Type    Est Class
ID
X2   Yes   No   No  Yes  Full     $   No   No     Thai  30-60    No
X3    No  Yes   No   No  Some     $   No   No   Burger   0-10   Yes
X4   Yes   No  Yes  Yes  Full     $   No   No     Thai  10-30   Yes
X5   Yes   No  Yes   No  Full   $$$   No  Yes   French    >60    No
X6    No  Yes   No  Yes  Some    $$  Yes  Yes  Italian   0-10   Yes
X7    No  Yes   No   No  None     $  Yes   No   Burger   0-10    No
X8    No   No   No  Yes  Some    $$  Yes  Yes     Thai   0-10   Yes
X9    No  Yes  Yes   No  Full     $  Yes   No   Burger    >60    No
X10  Yes  Yes  Yes  Yes  Full   $$$   No  Yes  Italian  10-30    No
X11   No   No   No   No  None     $   No   No     Thai   0-10    No
X12  Yes  Yes  Yes  Yes  Full     $   No   No   Burger  30-60   Yes

In [27]:
df[df['Price'] == '$$']

   Alt  Bar Fri  Hun   Pat Price Rain  Res     Type   Est Class
ID
X6  No  Yes  No  Yes  Some    $$  Yes  Yes  Italian  0-10   Yes
X8  No   No  No  Yes  Some    $$  Yes  Yes     Thai  0-10   Yes